In [1]:
import pandas as pd
import datetime as dt
import csv #needed for the following QUOTE_ALL constant

In [2]:
OLD_LOGNAME = 'data/bp_log.csv'
NEW_LOGNAME = 'data/olddata_tonewformat.csv'

In [3]:
df = pd.read_csv(OLD_LOGNAME)
df.head()

   Measurement Date    Time Zone  SYS  DIA  Pulse Device Model Name
0  2021-05-07 11:04  Europe/Rome  135   81     77     HEM-7361T_ESL
1  2021-05-07 11:05  Europe/Rome  129   81     71     HEM-7361T_ESL
2   2021-05-08 9:17  Europe/Rome  125   72     63     HEM-7361T_ESL
3  2021-05-09 21:43  Europe/Rome  118   73     68     HEM-7361T_ESL
4   2021-05-10 7:22  Europe/Rome  124   81     63     HEM-7361T_ESL

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72 entries, 0 to 71
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Measurement Date   72 non-null     object
 1   Time Zone          72 non-null     object
 2   SYS                72 non-null     int64
 3   DIA                72 non-null     int64
 4   Pulse              72 non-null     int64
 5   Device Model Name  72 non-null     object
dtypes: int64(3), object(3)
memory usage: 3.5+ KB

In [5]:
# convert the MEasurement Date column from a string to a datetime64 format
df['Measurement Date'] = pd.to_datetime(df['Measurement Date'], format='%Y-%m-%d %H:%M')

In [12]:
# split the old timestamp in the new two distinct fields with proper expected format
df['Date'] = df['Measurement Date'].dt.strftime("%d %b %Y")
df['Time'] = df['Measurement Date'].dt.strftime("%H:%M")

In [30]:
# create and fill the new dataframe in the new expected log format
dfnew = pd.DataFrame()
dfnew["Date"] = df["Date"] # from old dataframe
dfnew["Time"] = df["Time"] # from old dataframe
dfnew["Systolic (mmHg)"] = df["SYS"] # from old dataframe
dfnew["Diastolic (mmHg)"] = df["DIA"] # from old dataframe
dfnew["Pulse (bpm)"] = df["Pulse"] # from old dataframe
dfnew["Irregular heartbeat detected"] = " "
dfnew["Body Movement"] = " "
dfnew["Cuff wrap guide"] = " "
dfnew["Positioning Indicator"] = " "
dfnew["Measurement Mode"] = " "
dfnew["Possible Afib"] = " "
dfnew["Device"] = df["Device Model Name"] # from old dataframe
dfnew["Notes"] = "_"

In [40]:
# index is false since I do not need that column, quotechar and quoting to get everything written surrounded by double quotes
dfnew.to_csv(NEW_LOGNAME, index=False, sep=',', encoding='utf-8', quotechar='"', quoting=csv.QUOTE_ALL)