In [9]:
import pandas as pd

In [10]:
data={'Seconds':[10,20,30,40],'SYS':[95,103,99,112],'DIA':[56,75,62,70]}

In [11]:
df = pd.DataFrame(data)

In [12]:
df

   Seconds  SYS  DIA
0       10   95   56
1       20  103   75
2       30   99   62
3       40  112   70